@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@900&family=Merriweather+Sans:wght@700;800&family=Open+Sans:wght@400;500;600;700;800&display=swap');
.pets-wrapper {
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin: 25px auto;
  width: 70%;
}

.pets-list {
  margin: 0 25px;
}
.pets-list h2 {
  margin: 0 auto 2rem;text-align: center;font-family: 'Open Sans', sans-serif; font-weight: 800; 
  color: var(--primary);
}
