.pets-wrapper {
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin: 25px auto;
  width: 70%;
}

.pets-list {
  margin: 0 25px;
}
.pets-list h2 {
  margin: 2rem auto;text-align: center; font-weight: bold; color: var(--primary);
}
