@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@900&family=Merriweather+Sans:wght@700;800&family=Open+Sans:wght@400;500;600;700;800&display=swap');
.staff-list {
  margin: 25px auto;
  width: 70%;
}
.staff-list h2 {
  margin: 0 auto 2rem;text-align: center;font-family: 'Open Sans', sans-serif; font-weight: 800; 
  color: var(--primary);
}

.staffers {
  display: grid;
  gap: 25px;
  grid-template-columns: repeat(3, 1fr);
}

.staffer {
  border: 1px solid var(--primary);
  border-radius: 3px;
  display: block;
  padding: 25px;
  text-align: center;
}

.staffer h3 {
  margin: 0;
  text-transform: uppercase;
}

.staffer h4 {
  color: var(--primary);
  font-weight: 300;
  margin: 0;
}
