@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@900&family=Merriweather+Sans:wght@700;800&family=Open+Sans:wght@400;500;600;700;800&display=swap');


.not-found-page {
  margin: 2rem 0; text-align: center;vertical-align: middle;
}
.not-found-page h2 {
  margin: 1rem 0 0.5rem; font-size: 6rem;line-height: 5rem;letter-spacing: 2px;
  font-family: 'Open Sans', sans-serif; font-weight: 800; color: var(--primary);text-shadow: 4px 2px 2px #d90429;
}
.not-found-page p {
  font-size: 1rem;
  font-family: 'Open Sans', sans-serif; font-weight: 600;color: var(--black); 
}
